<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>  </title>
        <link rel="stylesheet" href="/css/styles.css"/>
    </head>
    <body>
     <center>
        <h3> Demo </h3> 
       <p th:if="${param.error}" class="error">
            Bad Credentials  
        </p>
        <form th:action="@{/app-login}" method="POST">
        <div class="container" style="width: 50%">
        <div class="row">
	    <div class="col-25">
	    <label for="quantity"><b>User Name</b></label>
	    </div>
	     <div class="col-75">
		<input type="text" name="app_username"/><br/><br/>
		</div>
    </div>
    
    <div class="row">
	    <div class="col-25">
	    <label for="quantity"><b>Password</b></label>
	    </div>
	     <div class="col-75">
		<input type="password" name="app_password" class="pwd"/><br/><br/>
		</div>
    </div>
 			<div>
            <input type="submit" value="Login" class="login"/>
            </div>
            </div>
        </form>
        </center>
    </body>
</html>